.todo{

}
.high-priority{
    background-color: rgba(255, 65, 40, 0.75) !important;

}
.medium-priority{
    background-color: rgba(238, 255, 0, 0.75) !important;
}
.low-priority{
    background-color: rgba(136, 255, 24, 0.75) !important;
}